/* font style added.....*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;800&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* navbar styles */
.nav-section{
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img{
    width: 80px;
    height: 40px;
    margin-right: 20px;
}
.pink-clr{
    color: #FF42A5;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}
ul{
    display: flex;
    align-items: center;
}
.follow-container{
    margin-left: 20px;
    align-items: center;
}
.follow-container>li{
    list-style: none;
}
ul>li{
    list-style: none;
    margin-left: 30px;
}
li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
.nav-img{
    margin-left: 10px;
}
.follow-style{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
width: 250px;
height: 50px;
text-align: center;
padding: 10px 0px 0px 0px;
}
/* Banner section styles */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 180px;
    gap: 60px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.banner-content{
    
    padding: 40px 0 40px 0;
}
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.goat{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.section-description{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}
.banner-btn-1{
    border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
color: #FFF;
font-size: 20px;
font-weight: 600;
border: none;
padding: 20px 40px;
}
.banner-btn-2{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 20px 40px;
border: none;
}
/* funny video section styles */

.video-section{
    text-align: center;
    justify-content: center;
    padding: 100px 130px 100px 200px;

}
.video-container{
    display: flex;
    margin-top: 30px;
    gap: 24px;
}
.video-img{
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;


}
.icon{
    position: absolute;
    top: 35%;
    left: 35%;
    opacity: 0;
    transition:opacity 0.3s   ease-in-out;
    
}
.icon-info{
    text-align: center;
font-size: 20px;
font-weight: 600;
color: #FF42A5;
}
.video-item{
    position: relative;
    display: inline-block;
}
.video-item:hover .icon{
opacity: 1;
}
.video-item:hover .video-img{
    border-radius: 16px;
border: 4px solid var(--Linear, #FF42A5);
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.pink-clr{
    color: #F948B2;
}

/* instant-section styles */
.instant-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding: 100px 150px;
}
.section-title-in{
    text-align: right;
}
.section-description-in{
    text-align: right;
}
.instant-img1{
    border-radius: 8px;
background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
width: 400px;
height: 420px;
}
.instant-img2{
    border-radius: 8px;

background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
width: 200px;
height: 220px;
position: relative;
right: 500px;
top: 50px;

}
/* button section styles */
.button-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.button-item{
    display: flex;
    border-radius: 50px;
background: #FFF;
gap: 20px;

}
.button-item:hover{
    border-radius: 50px;
border: 1.5px solid var(--Linear, #FF42A5);
background: #FFF;
padding: 5px;
color: #FF42A5;
gap: 20px;
}
/* footer section styles */
footer{
    background: #0B0223;
    width:100%;
height: 636px;
align-items: center;
margin-top: 100px;
}
.foot-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-info{
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    
}
.section-title-w{
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}
.foot-icon{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.foot-description ul>li{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
margin-left: 60px;
margin-top: 80px;
}
.foot-para{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top: 30px;
margin-left: 70px;

}